@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}


/* styles/globals.css ou un fichier CSS module */
.btnhero {
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  background-size: 200% auto;
  background-position: left center;
  transition: background-position 0.5s ease;
}

.btnhero:hover {
  background-position: right center;
}
